Repository williamthome/zotonic-ls: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run check && npm run lint, npm run format

refactor: improve readability
  src/domain/helpers/model-helper.ts
Due: npm run check && npm run lint, npm run format

feat: snippet helper
  src/domain/helpers/model-helper.ts
  src/domain/helpers/snippet-helper.ts
Due: npm run check && npm run lint, npm run format

refactor(snippet-helper): rename methods
  src/domain/helpers/model-helper.ts
  src/domain/helpers/snippet-helper.ts
Due: npm run check && npm run lint, npm run format

docs: add layer explanation
  src/common/README.md
  src/domain/README.md
  src/infra/README.md
Due: none

feat: lib definition provider
  src/domain/definitions/definitions.config.ts
  src/domain/definitions/providers/index.ts
  src/domain/definitions/providers/lib-definition-provider.ts
Due: npm run check && npm run lint, npm run format

refactor: split lib definition provider into js and css
  src/domain/definitions/definitions.config.ts
  src/domain/definitions/providers/index.ts
  src/domain/definitions/providers/js-definition-provider.ts
  src/domain/definitions/providers/lib-definition-provider.ts
  src/domain/definitions/providers/style-definition-provider.ts
Due: npm run check && npm run lint, npm run format

feat: image definition provider
  src/domain/definitions/definitions.config.ts
  src/domain/definitions/providers/image-definition-provider.ts
  src/domain/definitions/providers/index.ts
Due: npm run check && npm run lint, npm run format

fix: wrong filename for definition provider file finder
  src/infra/vscode/definition-provider.ts
Due: npm run check && npm run lint, npm run format

feat: model definition provider
  src/domain/definitions/definition-provider.ts
  src/domain/definitions/definitions.config.ts
  src/domain/definitions/providers/index.ts
  src/domain/definitions/providers/model-definition-provider.ts
  src/infra/vscode/definition-provider.ts
Due: npm run check && npm run lint, npm run format

refactor: move snippets helpers to snippets folder
  src/domain/snippets/helpers/index.ts
  src/domain/snippets/helpers/model-helper.ts
  src/domain/snippets/helpers/snippet-helper.ts
  src/domain/snippets/providers/model-snippet-provider.ts
Due: npm run check && npm run lint, npm run format

lint(tests): enable no-unused-vars flag
  src/__tests__/.eslintrc.json
Due: npm run format

test: buildSnippetToken
  src/__tests__/domain/snippets/helpers/snippet-helper.spec.ts
Due: npm run check && npm run lint, npm run format

refactor: rename snippet param factory
  src/domain/snippets/helpers/snippet-helper.ts
Due: npm run check && npm run lint, npm run format

test: snippetParam
  src/__tests__/domain/snippets/helpers/snippet-helper.spec.ts
Due: npm run check && npm run lint, npm run format

test: reduceSnippetTokens
  src/__tests__/domain/snippets/helpers/snippet-helper.spec.ts
Due: npm run check && npm run lint, npm run format

refactor: change model helper functions to args convention
  src/domain/snippets/helpers/model-helper.ts
  src/domain/snippets/providers/model-snippet-provider.ts
Due: npm run check && npm run lint, npm run format

refactor: change mGetExpressions to not return a resolved Promise
  src/domain/snippets/helpers/model-helper.ts
Due: npm run check && npm run lint, npm run format

test: mGetExpressions
  src/__tests__/domain/snippets/helpers/model-helper.spec.ts
Due: npm run check && npm run lint, npm run format

chore(jest): ignore infra layer from cover
  jest.config.ts
Due: npm run check && npm run lint, npm run format

refactor: use abs path for import
  src/__tests__/domain/snippets/providers/model-snippet-provider.spec.ts
  src/__tests__/domain/snippets/providers/tags/image-tag-snippet-provider.spec.ts
Due: npm run check && npm run lint, npm run format

test: buildMSnippetProvider
  src/__tests__/domain/snippets/providers/m-snippet-provider.spec.ts
Due: npm run check && npm run lint, npm run format

test: buildTemplateTagSnippetProvider
  src/__tests__/domain/snippets/providers/tags/template-tag-snippet-provider.spec.ts
Due: npm run check && npm run lint, npm run format

docs: add code quality badge
  README.md
Due: none

refactor: change missing command name msg
  src/infra/vscode/command.ts
Due: npm run check && npm run lint, npm run format

refactor: update comments
  src/extension.ts
Due: npm run check && npm run lint, npm run format

feat: env file
  src/env.ts
  src/extension.ts
Due: npm run check && npm run lint, npm run format

chore: bump to v0.7.0
  package.json
Due: npm run format

chore: bump vscode engine
  package.json
Due: npm run format

fix: no active editor bug
  src/env.ts
  src/extension.ts
  src/infra/vscode/commands/commands.config.ts
  src/infra/vscode/commands/insert-snippet-command.ts
  src/infra/vscode/protocol.ts
  src/infra/vscode/z-vscode.ts
Due: npm run check && npm run lint, npm run format

chore: bump to v0.7.1
  package.json
Due: npm run format

chore: install rollup
  package-lock.json
  package.json
Due: npm run format

chore: config rollup
  rollup.config.js
Due: none

chore: change module to ESNext
  tsconfig.json
Due: npm run format

chore(rollup): disable circular dependency warning
  rollup.config.js
Due: none

chore: change watch script to use rollup
  package.json
Due: npm run format

chore: minify bundle
  package-lock.json
  package.json
  rollup.config.js
Due: npm run format

Path conditions:
  npm run check && npm run lint: any of: *.ts
  npm run format: any of: *.{ts,json}
