Repository williamthome/zotonic-ls: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run check && npm run lint, npm run format

.lintstagedrc.json:

{
    "*.ts": "npm run check && npm run lint",
    "*.{ts,json}": "npm run format"
}

chore: improve lint staged config
  .lintstagedrc.json
Due: npm run format

chore: add test scripts
  package.json
Due: npm run format

chore: improve debugging
  .vscode/launch.json
Due: npm run format

chore: use jest only for unit tests
  jest.config.ts
Due: npm run check && npm run lint, npm run format

chore: skip lib check
  package.json
Due: npm run format

chore: remove check script
  .lintstagedrc.json
  package.json
Due: npm run format

fix: npm scripts
  package.json
Due: npm run format

refactor: move vscode tests to infra dir
  package.json
  src/__tests__/infra/runTest.ts
  src/__tests__/infra/suite/extension.test.ts
  src/__tests__/infra/suite/index.ts
Due: npm run check && npm run lint, npm run format

chore: improve tests scripts
  package.json
Due: npm run format

feat(domain): utils
  src/domain/utils.ts
Due: npm run check && npm run lint, npm run format

feat(domain): types
  src/domain/types.ts
Due: npm run check && npm run lint, npm run format

feat(domain): functional programming functions
  src/domain/fp.ts
Due: npm run check && npm run lint, npm run format

feat(domain): snippet
  src/domain/snippet/index.ts
  src/domain/snippet/snippet-provider-from-files.ts
  src/domain/snippet/snippet-provider.ts
  src/domain/snippet/snippet.ts
Due: npm run check && npm run lint, npm run format

feat(domain): file
  src/domain/file.ts
Due: npm run check && npm run lint, npm run format

feat(domain): position
  src/domain/document/index.ts
  src/domain/document/position.ts
Due: npm run check && npm run lint, npm run format

feat(test): utils
  src/__tests__/__utils__/expect.ts
  src/__tests__/__utils__/index.ts
  src/__tests__/__utils__/spy.ts
Due: npm run check && npm run lint, npm run format

test: domain
  src/__tests__/domain/__mocks__/file-mock.ts
  src/__tests__/domain/__spies__/file-spy.ts
  src/__tests__/domain/__spies__/snippet-spy.ts
  src/__tests__/domain/document/position.spec.ts
  src/__tests__/domain/fp.spec.ts
  src/__tests__/domain/snippet/snippet-provider.spec.ts
  src/__tests__/domain/snippet/snippet.spec.ts
  src/__tests__/domain/utils.spec.ts
Due: npm run check && npm run lint, npm run format

refactor: rename raise to throw exception
  src/__tests__/__utils__/expect.ts
  src/__tests__/__utils__/spy.ts
  src/__tests__/domain/snippet/snippet-provider.spec.ts
Due: npm run check && npm run lint, npm run format

feat(domain): AnyPromise type
  src/__tests__/__utils__/expect.ts
  src/domain/types.ts
Due: npm run check && npm run lint, npm run format

fix(test): spy returns wrong args
  src/__tests__/__utils__/spy.spec.ts
  src/__tests__/__utils__/spy.ts
Due: npm run check && npm run lint, npm run format

fix(domain): warning in types file if 'any' type
  src/domain/types.ts
Due: npm run check && npm run lint, npm run format

feat(tests): filenameRegexByWorkspaceSpy
  src/__tests__/domain/__spies__/file-spy.ts
Due: npm run check && npm run lint, npm run format

refactor(domain): change transformSnippet args strategy
  src/domain/file.ts
  src/domain/snippet/snippet-provider-from-files.ts
Due: npm run check && npm run lint, npm run format

feat(tests): transformSnippetSpy
  src/__tests__/domain/__spies__/snippet-spy.ts
Due: npm run check && npm run lint, npm run format

feat: add missing exports
  src/__tests__/domain/__mocks__/index.ts
  src/__tests__/domain/__spies__/index.ts
  src/domain/snippet/index.ts
Due: npm run check && npm run lint, npm run format

tests: buildSnippetProviderFromFiles
  src/__tests__/domain/snippet/snippet-provider-from-files.spec.ts
Due: npm run check && npm run lint, npm run format

chore(git): ignore coverage
  .gitignore
Due: none

chore(coverage): update path ignore patterns
  jest.config.ts
Due: npm run check && npm run lint, npm run format

refactor: remove currently unused function
  src/__tests__/domain/snippet/snippet-provider-from-files.spec.ts
  src/domain/snippet/snippet-provider-from-files.ts
Due: npm run check && npm run lint, npm run format

tests(buildSnippetProviderFromFiles): transformSnippet
  src/__tests__/domain/snippet/snippet-provider-from-files.spec.ts
Due: npm run check && npm run lint, npm run format

tests(buildSnippetProviderFromFiles): filesByWorkspace
  src/__tests__/domain/snippet/snippet-provider-from-files.spec.ts
Due: npm run check && npm run lint, npm run format

feat: add args to spy makeSut
  src/__tests__/__utils__/spy.spec.ts
  src/__tests__/__utils__/spy.ts
Due: npm run check && npm run lint, npm run format

feat(tests): expectNotEqual
  src/__tests__/__utils__/expect.ts
Due: npm run check && npm run lint, npm run format

tests(spy): ensure set options
  src/__tests__/__utils__/spy.spec.ts
Due: npm run check && npm run lint, npm run format

tests(spy): ensure mock function to be called
  src/__tests__/__utils__/spy.spec.ts
Due: npm run check && npm run lint, npm run format

tests(spy): ensure reset collected values
  src/__tests__/__utils__/spy.spec.ts
Due: npm run check && npm run lint, npm run format

chore(tests): use source maps
  src/__tests__/tsconfig.json
Due: npm run format

fix(tests): wrong check if spy throws
  src/__tests__/__utils__/spy.spec.ts
Due: npm run check && npm run lint, npm run format

tests(spy): ensure be called with no args
  src/__tests__/__utils__/spy.spec.ts
Due: npm run check && npm run lint, npm run format

fix: option 'sourceMap' cannot be specified with option 'inlineSourceMap'
  src/__tests__/tsconfig.json
Due: npm run format
